h1 {
    color: red;

}

form {
    text-align: center;
    border-color: red;
    background-color: teal;
    border-radius: 30px;
    padding-left: 250px;
    height: 450px;
    width: 200px;
    padding: 0%;
    

}